body{
	line-height: normal !important;
}

.titulo{
	font-size: 40px;
}
.detalhes b{
	font-weight: strong;
}
.comentarios>.panel-heading:after, .comentarios>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}
.thumbnail {
    padding:0px;
}
.comentarios {
	position:relative;
}
.comentarios>.panel-heading:after,.comentarios>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.comentarios>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.comentarios>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
.comentarios.panel-default>.panel-heading{
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.notaCritica{
	float: right;
	font-weight: bold;
}
.fa-star{
	color: #EDB867;
}
.comentario{
	word-wrap: break-word;
}

.fotosJogo img{
	width: 100%;
}

.sobre p{
  margin-top: 8px;
  word-break: break-word;
  line-height: 1.5em;
}

.sobre{
	margin-top: 15px
}

.categorias{
	line-height: 1.6;
	margin-top: 15px;
}

.jogo .well, .comentario-usuario .well{
	background-color: #fff;
}

.notaMedia{
	font-size: 30px;
}

.detalhes{
	line-height: 1.8;
}

.numCriticas{
	line-height: 1;
}

.user-photo{
	min-height: 30px;
	min-width: 30px;
}
