.jogoContainer {
	display: inline-block;
    position: relative;
    width: 180px;
    height: 150px;
    margin: 0 9px;
}
.titulo{
	margin-top: 8px;
	word-wrap: break-word;
	font-weight: bold;
}
.listaJogos{
	display: inline-block;
	float: none;
	list-style: none;
	vertical-align: top;
	margin-bottom: 20px;
	margin-left: 14px;
}
.listaJogos{
	text-align: center;
	display: inline-block;
	font-size: 11.9px;
	line-height: 14.28px;
}

.notaMedia{
	display: block;
	padding: 2px 6px;
	font-size: 16px;
	border-radius: 2px;
	position: absolute;
	top: 2px;
	left: 2px;
	font-weight: bold;
}

.detalhes{
	padding: 9px;
}

.jogos .thumbnail{
	background-color: white;
	min-width: 105px;	
}
