body{
	line-height: normal !important;
}

.detalhes b{
	font-weight: strong;
}
.thumbnail {
    padding:0px;
}

.fotosJogo img{
	width: 100%;
}

.sobre p{
  margin-top: 8px;
  word-break: break-word;
  line-height: 1.5em;
}

.sobre{
	margin-top: 15px
}

.categorias{
	line-height: 1.6;
	margin-top: 15px;
}

.notaMedia{
	font-size: 30px;
}

.detalhes{
	line-height: 1.8;
}

.numCriticas{
	line-height: 1;
}